
* {
    padding: 0;
    margin: 0;
  }
  
  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 40, 48);
    font-family: sans-serif;
  }

  .calculator {
    width: 300px;
    padding-bottom: 15px;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 8px 8px -2px rgb(3, 133, 153);
  }
  
  .display {
    width: 100%;
    height: 80px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(0, 255, 170);
    color: rgb(0, 0, 0);
    text-align: right;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(117, 117, 117);
    outline: none;
    font-size: 25px;
    background-color: rgb(32, 32, 32);
    color:  rgb(255, 255, 255);
    margin: 10px;
  }
  
  button:hover {
    transform: scale(1.2);
    transition: 100ms;
  }
  
  .operator {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(9, 150, 103);
    color: #000;
  }
  
  button.fun {
    border-radius: 20px;
    width: 100px;
    background-color: rgb(4, 85, 58);
    color: rgb(0, 0, 0);
  }
